Sample dataset from:
https://www.ncei.noaa.gov/access/billions/time-series

In [8]:
# import pandas library
import pandas as pd

# load sample csv file into dataframe and count rows loaded
df = pd.read_csv('E:/Projects/python-pandas/GHCND_sample_csv.csv')
print(f'There are {len(df)} lines in the dataset.')

There are 31 lines in the dataset.

In [9]:
# inspect dataset structure interpred by pandas
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   STATION       31 non-null     object
 1   STATION_NAME  31 non-null     object
 2   ELEVATION     31 non-null     float64
 3   LATITUDE      31 non-null     float64
 4   LONGITUDE     31 non-null     float64
 5   DATE          31 non-null     int64
 6   TMAX          31 non-null     int64
 7   TMIN          31 non-null     int64
 8   PRCP          31 non-null     int64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ KB

In [10]:
# inspect dataset first 10 lines
df.head(5)

,STATION,STATION_NAME,ELEVATION,LATITUDE,LONGITUDE,DATE,TMAX,TMIN,PRCP
0,GHCND:USC00327027,PETERSBURG 2 N ND US,466.3,48.0355,-98.01,20100101,-178,-311,0
1,GHCND:USC00327027,PETERSBURG 2 N ND US,466.3,48.0355,-98.01,20100102,-244,-322,0
2,GHCND:USC00327027,PETERSBURG 2 N ND US,466.3,48.0355,-98.01,20100103,-194,-289,0
3,GHCND:USC00327027,PETERSBURG 2 N ND US,466.3,48.0355,-98.01,20100104,-167,-200,15
4,GHCND:USC00327027,PETERSBURG 2 N ND US,466.3,48.0355,-98.01,20100105,-133,-167,9999

In [11]:
# projection relational operation
df_proj = df[['STATION_NAME', 'DATE', 'TMAX', 'TMIN']]

# inspect first 5 lines of the projected dataframe
df_proj.head(5)

           STATION_NAME      DATE  TMAX  TMIN
0  PETERSBURG 2 N ND US  20100101  -178  -311
1  PETERSBURG 2 N ND US  20100102  -244  -322
2  PETERSBURG 2 N ND US  20100103  -194  -289
3  PETERSBURG 2 N ND US  20100104  -167  -200
4  PETERSBURG 2 N ND US  20100105  -133  -167

In [12]:
# save 
df_proj.to_csv('E:/Projects/python-pandas/GHCND_sample_projected.csv')
print(f'There are {len(df_proj)} lines in the dataset.')
print(f'There are {len(df_proj.columns)} columns in the dataset.')

There are 31 lines in the dataset.
There are 4 columns in the dataset.